* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  box-sizing: border-box;
  background-color: #fafafc;
  width: 100%;
  height: 760px;
  max-width: 540px;
  min-width: 375.2px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('../iconfont/iconfont.woff2') format('woff2'), url('../iconfont/iconfont.woff') format('woff'), url('../iconfont/iconfont.ttf') format('truetype'), url('../iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  color: #FFF;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
}

.topheadpic {
  width: 100%;
  height: 188px;
  background: url(../images/yatan.jpg) no-repeat;
  background-size: 100% 100%;
}

.imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 188px;
  background: rgba(0, 0, 0, .2);
}

.search-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  background-color: #e6f0f7;
}

.goBack {
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

.goBack.iconfont {
  font-size: 35px;
}

.submitData {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 44px;
  border: none;
  background: transparent;
  font-size: 15px;
  outline: none;
  font-size: 25px;
  color: #fff;
}

.search-form {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0 50px 0 44px;
  text-align: center;
  z-index: 11;
}

.inp-wrapper {
  position: relative;
  width: calc(100%-94px);
  background-color: #ccc;
}

.search-form .search-msg {
  float: right;
  position: relative;
  box-sizing: border-box;
  width: 80%;
  height: 33px;
  margin-top: 5px;
  outline: none;
  border: 1px solid #FFF;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  text-indent: 1em;
  text-align: left;
  color: #a3a8ab;
  line-height: 30px;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form .search-icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  z-index: 99;
  color: #a3a8ab;
  font-size: 14px;
}

.city {
  box-sizing: border-box;
  position: absolute;
  left: 47px;
  top: 5px;
  padding: 0 10px;
  height: 33px;
  border: #fff;
  z-index: 222;
  border-radius: 3px 0 0 3px;
  line-height: 33px;
  text-align: left;
  font-size: 15px;
  background-color: #fff;
}

.city::after {
  content: '';
  height: 33px;
  position: absolute;
  right: 0px;
  top: 5px;
  display: inline-block;
  width: 1.6px;
  height: 22px;
  line-height: 33px;
  background-color: #d8d8d8;
}

.city-type {
  display: inline-block;
  /* width: 100%; */
}

.city-type::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  line-height: 16px;
  border: 4px solid #868686;
  border-top-width: 5px;
  border-color: #868686 transparent transparent transparent;
}

.topheadpic {
  position: relative;
  width: 100%;
}

.content {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 16px 15px;
  overflow: hidden;
}

.title {
  box-sizing: border-box;
  position: absolute;
  bottom: 43px;
  left: 0px;
  height: 32px;
  width: 100%;
  padding-left: 16px;
  font-size: 28px;
  line-height: 32px;
  color: #fff;
  font-family: 'PingFangSC-Medium';
  font-weight: 400;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ename {
  font-size: 14px;
  font-family: 'PingFangSC-Regular';
  line-height: 20px;
  text-shadow: none;
}

.itext {
  box-sizing: border-box;
  position: absolute;
  bottom: 16px;
  left: 0px;
  padding-left: 16px;
  width: 100%;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  font-family: 'PingFangSC-Medium';
}

.itext .itext-icon {
  position: absolute;
  top: 1px;
  left: 116px;
  font-size: 20px;
  line-height: 20px;
}

.itext .sun {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 4px;
  margin-bottom: 2px;
}

.img-text {
  margin-left: 20px;
}

.itext .img-text-icon {
  position: absolute;
  top: 1px;
  left: 198px;
  font-size: 20px;
  line-height: 20px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.c-icon {
  display: flex;
  width: 570px;
  height: 75px;
  padding: 12px 10px 8px;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  overflow: hidden;
}

.icon-list {
  flex: 1;
  height: 100%;
}

.icon-list img {
  width: 50px;
  height: 50px;
}

.icon-list p {
  font-size: 12px;
  color: #333;
}

.bar {
  width: 100%;
  height: 5px;
  padding-bottom: 10px;
  border-bottom: 8px solid #eaedf0;
}

.bar .progressbar {
  width: 40px;
  height: 5px;
  margin: 0 170px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #888;
}

.bar .progressbar .sliderbar {
  width: 10px;
  height: 5.5px;
  background-color: #0196ff;
  border-radius: 3px;
}

.local-hot {
  margin-top: 5px;
  width: 100%;
  height: 235px;
}

.hot-title {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 400;
  font-size: 17px;
  color: #222;
}

.hot-tab {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 0 16px 12px;
  padding-left: 16px;
}

.tab-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-bar .tab_list {
  flex: 1;
  text-align: center;
  height: 29px;
  line-height: 29px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
  color: #666;
}

.tab-bar .tab_list:nth-child(4) {
  margin-right: 0;
}

.tab-bar .active-tab_list {
  background-color: #4CB7F9;
  color: #fff;
}

.animate {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 130px;
  padding: 0 0 0 16px;
  overflow: hidden;
}

.a-items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  height: 100%;
  width: 592px;
}

.a-list {
  flex: 1;
  height: 100%;
}

.last-list {
  position: absolute;
  right: 20px;
  top: 0;
  width: 20px;
  padding: 6px 0 0 18px;
}

.more-view {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 85px;
  line-height: 18px;
  color: #666;
  float: left;
  padding: 8px 0 0 18px;
  box-sizing: border-box;
  font-size: 14px;
}

.mone-list {
  position: absolute;
  right: 18px;
  top: 35px;
  color: #666;
}

.a-list a {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 6px;
  text-align: left;
}

.a-list a img {
  width: 110px;
  height: 85px;
}

.img-title {
  height: 42px
}

.title-text {
  width: 110px;
  height: 18px;
  font-family: 'PingFangSC-Medium';
  line-height: 18px;
  padding: 5px 0 2px;
  font-size: 14px;
  text-align: left;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectext {
  color: #0099f7;
  font-size: 12px;
  text-align: left;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.local-hot {
  overflow: auto;
}

.place-center {
  width: 100%;
  border-top: 8px solid #eaedf0;
}

.certer-title {
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  font-weight: 400;
  color: #222;
  text-align: center;
}

.messages {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px 12px;
  font-size: 15px;
  color: #333;
}

.questions {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 22px;
  line-height: 22px;
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.questions::before {
  content: 'Q';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  background-color: #ccc;
  font-size: 10px;
  text-align: center;
  line-height: 16px;
  margin-right: 5px;
  background-color: #4cb7f9;
  color: #fff;
}

.answers {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 22px;
  line-height: 22px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.answers::before {
  content: 'A';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  background-color: #ccc;
  font-size: 10px;
  text-align: center;
  line-height: 16px;
  margin-right: 5px;
  background-color: #aaacb2;
  color: #fff;
}

.moreQA {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 55px;
  text-align: center;
  font-size: 15px;
  color: #0099f7;
  text-align: center;
  line-height: 47px;
  padding: 0 16px;
  border-bottom: 8px solid #eaedf0;
}

.moreQA::before{
  content: '';
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ececec;
  padding: 0 16px;
}